<div class="container header-middle">
  <a href="index.html" class="header-middle__logo logo">
    <img src="img/logo.svg" alt="SitDown logo" />
  </a>
  <nav class="header-middle__nav nav">
    <button class="hamburger-menu btn-reset">
      <span></span>
    </button>
    <div class="header-middle__list-wrapper hidden">
      <ul class="header-middle__nav-list nav-list list-reset">
        <li class="header-middle__nav-item">
          <a href="catalog.html" class="header-middle__nav-link link-effect"
            >Каталог</a
          >
        </li>

        <li class="header-middle__nav-item">
          <a href="#" class="header-middle__nav-link link-effect">Магазины</a>
        </li>

        <li class="header-middle__nav-item">
          <a href="#" class="header-middle__nav-link link-effect">Шоу-рум</a>
        </li>

        <li class="header-middle__nav-item">
          <a href="#" class="header-middle__nav-link link-effect"
            >Доставка и оплата</a
          >
        </li>

        <li class="header-middle__nav-item">
          <a href="#" class="header-middle__nav-link link-effect">Дисконт</a>
        </li>

        <li class="header-middle__nav-item">
          <a
            href="cooperations.html"
            class="header-middle__nav-link link-effect"
            >Контакты</a
          >
        </li>
      </ul>
      <svg class="elephant">
        <use xlink:href="img/sprite.svg#elephant"></use>
      </svg>
    </div>
  </nav>
</div>
