<div class="special__swiper-wrapper">
  <div class="swiper-container specialSwiper">
    <ul class="swiper-wrapper list-reset">
      <li class="swiper-slide special__slide">
        <article class="special__card card">
          <div class="card__marker marker">
            <span class="marker__price">- 9 000</span>
          </div>
          <picture>
            <source
              srcset="./img/special/special__yellow-armchair.webp"
              type="image/webp" />
            <img
              class="card__image"
              src="./img/special/special__yellow-armchair.png"
              alt=""
          /></picture>
          <h3 class="card__name card-title">
            Кресло велюровое
            <span class="card__name-model">&laquo;X-24&raquo;</span>
          </h3>
          <p class="card__price">
            <span class="card__new-price"> 15&nbsp;990 руб </span>
            <s class="card__old-price">24&nbsp;990 руб</s>
          </p>
          <a href="#" class="card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="swiper-slide special__slide special__slide_big">
        <article class="special__card special__card_big card">
          <div class="card__marker marker">
            <span class="marker__price">- 10 000</span>
          </div>
          <picture>
            <source
              srcset="./img/special/special__fabric-sofa.webp"
              type="image/webp" />
            <img
              class="card__image card__image_big"
              src="./img/special/special__fabric-sofa.png"
              alt=""
          /></picture>
          <h3 class="card__name card__name_big card-title">
            Диван тканевый
            <span class="card__name-model">&laquo;Z-44&raquo;</span>
          </h3>
          <p class="card__price">
            <span class="card__new-price"> 22&nbsp;990 руб </span>
            <s class="card__old-price">32&nbsp;990 руб</s>
          </p>
          <a href="#" class="card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="swiper-slide special__slide">
        <article class="special__card card">
          <div class="card__marker marker">
            <span class="marker__price">- 600</span>
          </div>
          <picture>
            <source
              srcset="./img/special/special__alarm.webp"
              type="image/webp" />
            <img
              class="card__image"
              src="./img/special/special__alarm.png"
              alt=""
          /></picture>
          <h3 class="card__name card-title">
            Будильник
            <span class="card__name-model">&laquo;Quartz-23&raquo;</span>
          </h3>
          <p class="card__price">
            <span class="card__new-price"> 1&nbsp;290 руб </span>
            <s class="card__old-price">1&nbsp;890 руб</s>
          </p>
          <a href="#" class="card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="swiper-slide special__slide">
        <article class="special__card card">
          <div class="card__marker marker">
            <span class="marker__price">- 300</span>
          </div>
          <picture>
            <source
              srcset="./img/special/special__sculpture.webp"
              type="image/webp" />
            <img
              class="card__image"
              src="./img/special/special__sculpture.png"
              alt=""
          /></picture>
          <h3 class="card__name card-title">
            Мини-скульптура
            <span class="card__name-model">&laquo;Oh my deer&raquo;</span>
          </h3>
          <p class="card__price">
            <span class="card__new-price">690 руб </span>
            <s class="card__old-price">990 руб</s>
          </p>
          <a href="#" class="card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="swiper-slide special__slide special__slide_big">
        <article class="special__card special__card_big card">
          <div class="card__marker marker">
            <span class="marker__price">- 10 000</span>
          </div>
          <picture>
            <source
              srcset="./img/special/special__grey-sofa.webp"
              type="image/webp" />
            <img
              class="card__image card__image_big"
              src="./img/special/special__grey-sofa.png"
              alt=""
          /></picture>
          <h3 class="card__name card__name_big card-title">
            Диван вел-флок
            <span class="card__name-model">&laquo;Z-85&raquo;</span>
          </h3>
          <p class="card__price">
            <span class="card__new-price"> 22&nbsp;990 руб </span>
            <s class="card__old-price">32&nbsp;990 руб</s>
          </p>
          <a href="#" class="card__button btn empty-btn">Купить</a>
        </article>
      </li>
      <li class="swiper-slide special__slide">
        <article class="special__card card">
          <div class="card__marker marker">
            <span class="marker__price">- 700</span>
          </div>
          <picture>
            <source
              srcset="./img/special/special__thermometer.webp"
              type="image/webp" />
            <img
              class="card__image"
              src="./img/special/special__thermometer.png"
              alt=""
          /></picture>
          <h3 class="card__name card-title">
            Термометр + гидрометр
            <span class="card__name-model">&laquo;H-18&raquo;</span>
          </h3>
          <p class="card__price">
            <span class="card__new-price"> 1&nbsp;390 руб </span>
            <s class="card__old-price">2&nbsp;090 руб</s>
          </p>
          <a href="#" class="card__button btn empty-btn">Купить</a>
        </article>
      </li>
    </ul>
  </div>
</div>
