<div class="special__swiper-buttons swiper-buttons">
  <button
    class="special__button special__button_prev special__button-rotate circle-btn circle-effects swiper-button-prev btn btn-reset"
    aria-label="кнопка предидущий слайд"
  >
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14 11L19 16L14 21"
        stroke="#A65CF0"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
    </svg>
  </button>
  <button
    class="special__button special__button_next circle-btn circle-effects swiper-button-next btn btn-reset"
    aria-label="кнопка следующий слайд"
  >
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14 11L19 16L14 21"
        stroke="#A65CF0"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <circle cx="16" cy="16" r="15" stroke="#A65CF0" stroke-width="2" />
    </svg>
  </button>
</div>
