.special__slide {
  max-width: 296px;

  &_big {
    max-width: 624px;

    &::after {
      content: "";
      bottom: $card-gap;
      right: $card-gap;
      width: 230px;
      height: 107px;
      position: absolute;
      background-image: url("../img/special/special-sofa.webp");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.special__slide_big picture,
.card__image_big {
  width: 450px;
  height: 245px;
}

.special__swiper-wrapper {
  overflow: hidden;
}

.special__button_prev {
  transform: rotate(0) !important;
}

.special__button_next {
  right: 33px;
}

.marker {
  background-image: url("../img/special/mark.webp");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  display: inline-flex;
  align-self: start;
  align-items: center;
  justify-content: center;
  color: $white;
  font: $bold-Light-font;
  width: 92px;
  height: 34px;

  &__price {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
  }
}

.swiper-button-prev {
  &::after {
    display: none;
  }
}

.swiper-button-next {
  &::after {
    display: none;
  }
}
