<main class="main-catalog">
  <section class="catalog">
    <h1 class="visually-hidden">Главный каталог</h1>
    <div class="container links-container">
      <ul class="catalog__links-list list-reset">
        <li class="catalog__links-item">
          <a class="catalog__link" href="index.html">Главная /</a>
        </li>
        <li class="catalog__links-item">
          <a class="catalog__link" href="#">Каталог /</a>
        </li>
        <li class="catalog__links-item">
          <a class="catalog__link" href="#">Диваны /</a>
        </li>
        <li class="catalog__links-item">
          <a class="catalog__link" href="#">Прямые диваны</a>
        </li>
        <li class="catalog__links-item">
          <a class="catalog__link catalog__link_active" href="#">/ D-31</a>
        </li>
      </ul>
    </div>
  </section>
  @include('card-product-D31.html')
  <!--  -->
  @include('similar-products.html')
</main>
